<section class="container-fluid welcome-index-main">
  <div class="row main-title title">
    <div class="col"><h1>TV Discovery App</h1></div>
  </div>
<section>

<div class="container">
  <div class="row search-bar vertical-center">
    <div class="col-6 container form">
        <%= form_tag(shows_path, :method => "get") do %>
        <div class='form-group' aria-hidden='true'>
          <%= text_field_tag(:name, params[:name], class: "form-control", placeholder: "Search TV Shows") %>
        </div>
        <div class='form-group' aria-hidden='true'>
          <%= submit_tag("Find a Show!", class: "btn btn-success") %>
        </div>
          <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col popular-shows-list">
      <div class="title"><h3>Popular Shows</h3></div>
      <ul class="pop">
      <%  @popular_shows.each do |show| %>
        <li class="pop"><%= show.name %>
        <li class="pop"> | </li>
      <% end %>
      </ul>
    </div>
  </div>

</div>

