<h1>Search Results</h1>

<section class='search-results'>

<% if @search_results.empty? == true %>
  <%= "No results!" %>
<% else %>
  <% @search_results.each do |result| %>
    <li><%= link_to result.name, show_path(result.id) %></li>
  <% end %>
<% end %>
</section>