<section class="container-fluid">
  <div class="row main-title title">
    <div class="col"><h1>Search Results</h1></div>
  </div>
<section>

<section class="container-fluid search-results">
  <div class="row vertical-center">
    <div class="col-5 container no-results-container">
      <% if @search_results.empty? == true %>
          <div class="row no-results">Sorry, your search returned no results!</div>
          <div class="row no-results"><%= link_to 'Go back', welcome_index_url, class: 'btn btn-primary' %></div>
      <% else %>
      <div class="list-group">
        <% @search_results.each do |result| %>
          <%= link_to result.name, show_path(result.id), class: "list-group-item list-group-item-action" %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</section>